[submodule "nativediscloser"]
	path = nativediscloser
	url = git@github.com:gaojun0816/nativediscloser.git
[submodule "nativediscloser_benchmark"]
	path = nativediscloser_benchmark
	url = git@github.com:gaojun0816/nativediscloser_benchmark.git
